
<section class="UserList">
    <div class="main-container" id="userList">
        <div class="userListMain-container">
            <div class="userlistTitle-container">
                <h1>User List</h1>
            </div>
            <div class="userlistTable-container">
                <table>
                    <tr class="headerRow">
                        <th class="check-tableColumn"></th>
                        <th class="name-tableColumn"></th>
                        <th class="extraOptions-tableColumn"></th>
                    </tr>
                    <tr class="row1">
                        <td class="check-tableColumn"><img src="/img/Userlist/check.png" alt="" id="checkRow1"></td>
                        <td class="name-tableColumn"><span class="username" id="usernameRow1">username1</span><br><span class="fullName" id="fullName1">fullName1</span></td>
                        <td class="extraOptions-tableColumn"><span class="extraOptionsText-tableColumn bold" id="extraText1Row1">...</span><br><span class="extraOptionsText-tableColumn" id="extraText2Row1">Default group</span></td>
                    </tr>
                    <tr class="row2">
                        <td class="check-tableColumn"><img src="/img/Userlist/check.png" alt="" id="checkRow2"></td>
                        <td class="name-tableColumn"><span class="username" id="usernameRow2">username2</span><br><span class="fullName" id="fullName2">fullName2</span></td>
                        <td class="extraOptions-tableColumn"><span class="extraOptionsText-tableColumn bold" id="extraText1Row2">...</span><br><span class="extraOptionsText-tableColumn" id="extraText2Row2">Default group</span></td>
                    </tr>
                    <tr class="row3">
                        <td class="check-tableColumn"><img src="/img/Userlist/check.png" alt="" id="checkRow3"></td>
                        <td class="name-tableColumn"><span class="username" id="usernameRow3">username3</span><br><span class="fullName" id="fullName3">fullName3</span></td>
                        <td class="extraOptions-tableColumn"><span class="extraOptionsText-tableColumn bold" id="extraText1Row3">...</span><br><span class="extraOptionsText-tableColumn" id="extraText2Row3">Default group</span></td>
                    </tr>
                    <tr class="row4">
                        <td class="check-tableColumn"><img src="/img/Userlist/check.png" alt="" id="checkRow4"></td>
                        <td class="name-tableColumn"><span class="username" id="usernameRow4">username4</span><br><span class="fullName" id="fullName4">fullName4</span></td>
                        <td class="extraOptions-tableColumn"><span class="extraOptionsText-tableColumn bold" id="extraText1Row4">...</span><br><span class="extraOptionsText-tableColumn" id="extraText2Row4">Default group</span></td>
                    </tr>
                    <tr class="row5">
                        <td class="check-tableColumn"><img src="/img/Userlist/check.png" alt="" id="checkRow5"></td>
                        <td class="name-tableColumn"><span class="username" id="usernameRow5">username5</span><br><span class="fullName" id="fullName5">fullName5</span></td>
                        <td class="extraOptions-tableColumn"><span class="extraOptionsText-tableColumn bold" id="extraText1Row5">...</span><br><span class="extraOptionsText-tableColumn" id="extraText2Row5">Default group</span></td>
                    </tr>
                </table>
            </div>
            <div class="pagination-container" id="paginationContainer">
                <div class="pagination1-container pC">
                    <p><span>1</span></p>
                    <div class="paginationUnderline" id="p1Underline"></div>
                </div>
                <div class="pagination2-container pC">
                    <p><span>2</span></p>
                    <div class="paginationUnderline" id="p2Underline"></div>
                </div>
                <div class="pagination3-container pC">
                    <p><span>3</span></p>
                    <div class="paginationUnderline" id="p3Underline"></div>
                </div>
                <div class="pagination4-container pC">
                    <p><span>4</span></p>
                    <div class="paginationUnderline" id="p4Underline"></div>
                </div>
                <div class="pagination5-container pC">
                    <p><span>5</span></p>
                    <div class="paginationUnderline" id="p5Underline"></div>
                </div>
                <div class="paginationNext-container pC">
                    <p><span>Next »</span></p>
                    <div class="paginationUnderline" id="nextUnderline"></div>
                </div>
            </div>
        </div>
        <div class="logout-container">
            <div class="logoutIcon-container">
                <img src="/img/Userlist/exit.png" alt="">
            </div>
            <div class="logoutText-container">
                <a href="#" class="logout-link" id="logoutLink"><span>Log Out</span></a>
            </div>
        </div>
    </div>
</section>
